Photopon/Photopon.xcodeproj/xcuserdata
Photopon/Photopon.xcworkspace/xcuserdata
Photopon/Pods/Pods.xcodeproj/xcuserdata

*.xcbkptlist

Photopon/Photopon.xcworkspace/xcuserdata/Hayk.xcuserdatad/UserInterfaceState.xcuserstate

Photopon/Photopon.xcworkspace/xcuserdata/Hayk.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcexplist
